body {
    width: 250px;
    height: 250px;
    background-color: lightyellow;
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 20px;
    color: hotpink;
    border-radius: 6px;
    border: 1px solid lightpink;
    padding: 10px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}